 <h1><%= @recipe.recipe_name %></h1>
 <a href="/">HOME</a>

<div class="container-fluid">

<ul>
   <li><%= @recipe.instructions %></a></li>
</ul>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
    <div class="form-group">
      <label>Add Instructions:</label>
      <textarea class="form-control" rows="5" id="instructions" name="instructions" placeholder="Recipe Instructions"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <form actions="/recipes" method="post">
    <div class="form-group">
      <label>Add a Tag:</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="What kind of recipe?">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<form class="form-inline" form action="/recipes/<%= @recipe.id() %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete this Recipe</button>
  </form>
